#profile-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-button {
  display: flex;
  align-content: flex-end;
}

.fields {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  overflow: scroll;
}